@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Mono&display=swap"); */
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url(fonts/Poppins-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    src: url(fonts/RobotoMono-Regular.ttf) format("truetype");
  }
}
