@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url(fonts/Poppins-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url(fonts/Poppins-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: url(fonts/Poppins-SemiBold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: url(fonts/Poppins-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roboto Mono";
    font-weight: 400;
    src: url(fonts/RobotoMono-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roboto Mono";
    font-weight: 500;
    src: url(fonts/RobotoMono-Medium.ttf) format("truetype");
  }
  @font-face {
    font-family: "Lavishly Yours";
    font-weight: 400;
    src: url(fonts/LavishlyYours-Regular.ttf) format("truetype");
  }
}

@layer utilities {
  .text-shadow-xl {
    /* text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.45); */
    text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.8);
  }
  .text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.45);
  }

  /* used to give drop shadow for icons if used with text-shadow */
  .filter-shadow {
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.45));
  }
}

/* gridsome generated active nav link */
.active--exact {
  @apply text-orange-700 dark:text-orange-600 font-medium underline !important;
}

.pagination {
  @apply p-1;
}
